@import "variables", "grid", "titulo", "perfil", "texto";

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    background-image: url(../img/fondogr.jpg);
    background-size: cover;

}
